* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

.logo {
  width: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-self: center;
}

.pt-4 {
  padding-top: 55px;
}

.card-margin {
  margin-top: 20px;
}

.texts {
  color: #fff;
  border: #fff;
}
.text-form {
  color: black;
}

.btn-pen {
  background: transparent;
  border: 2px solid #c0c3c6;
  display: inline-block;
  text-align: end;
  color: gray;
}
.btn-pens {
  background: transparent;
  border: 2px solid #c0c3c6;
  display: inline-block;
  color: gray;
}

.pen-gap {
  display: flex;
  gap: 10px;
}

.btn-red {
  width: 135px;
}

.space-card {
  padding: 20px;
}

.box {
  margin-right: 10px;
}

@media screen {
}
